<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peter Saxton</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="text-gray-600 px-4">
    <header>
      <div class="flex m-4 md:my-10 items-baseline">
        <a class="pointer" href="/">
          <h1 class="mr-auto font-serif text-2xl md:text-5xl tracking-widest">
            Peter Saxton
          </h1>
        </a>
        <nav class="md:text-lg hidden md:block"></nav>
      </div>
    </header>
    <main class="max-w-4xl my-10 mx-auto flex flex-row flex-wrap">
      <img
        class="object-cover flex-grow max-h-96 md:w-1/3"
        src="/gallery/2020-03-27.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-2/3"
        src="/gallery/2020-04-10.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-2/3"
        src="/gallery/2020-04-25.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-2/3"
        src="/gallery/2020-05-23.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-1/3"
        src="/gallery/2020-06-13.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-1/3"
        src="/gallery/2020-07-19.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-1/3"
        src="/gallery/2020-09-19.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-1/3"
        src="/gallery/2020-12-05.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-1/3"
        src="/gallery/2021-01-01.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-2/3"
        src="/gallery/2021-01-23.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-1/3"
        src="/gallery/2021-02-07.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-1/3"
        src="/gallery/2021-02-28.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-2/3"
        src="/gallery/2021-03-26.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-2/3"
        src="/gallery/2021-04-16.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-1/3"
        src="/gallery/2021-04-23.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-1/3"
        src="/gallery/2021-04-30.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-2/3"
        src="/gallery/2021-05-21.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-1/3"
        src="/gallery/2021-05-28.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-1/3"
        src="/gallery/2021-06-11.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-2/3"
        src="/gallery/2021-06-18.jpg"
      />
      <img
        class="object-cover flex-grow max-h-96 md:w-1/3"
        src="/gallery/2021-06-27.jpg"
      />
    </main>
  </body>
</html>
