<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peter Saxton</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <script src="/main.js" type="module"></script>
</head>

<body class="text-gray-600 px-4">
    <header>
        <div class="flex m-4 md:my-10 items-baseline">
            <a class="pointer" href="/">
                <h1 class="mr-auto font-serif text-2xl md:text-5xl tracking-widest">
                    Log
                </h1>
            </a>
            <nav class="md:text-lg hidden md:block"></nav>
        </div>
        <div id="command" style="display: none;"
            class="max-w-6xl mx-auto h-2 bg-gradient-to-r from-blue-200 to-gray-800 rounded my-3">
    </header>
    <main class="max-w-4xl my-10 mx-auto">
        <div>
            <h1 class="text-xl font-bold py-2">Week 16</h1>
            <ul class="list-inside list-disc">
                <li>Firmata Protocol</li>
                <li>erlang binary patterns</li>
                <li>Gleam pattern development</li>
            </ul>
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/700521403?h=8c0e14a0ba&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="video.webm"></iframe></div>
            <h1 class="text-xl font-bold py-2">Week 10</h1>
            <ul class="list-inside list-disc">
                <li>Recursive Functions</li>
                <li>Recursive Types</li>
            </ul>
            <div style="padding:62.5% 0 0 0;position:relative;"><iframe
                    src="https://player.vimeo.com/video/685569210?h=7113a831c4&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Week 10"></iframe></div>
            <h1 class="text-xl font-bold py-2">Week 9</h1>
            <ul class="list-inside list-disc">
                <li>Record Types</li>
                <li>Union Types</li>
                <li>Row Types</li>
            </ul>
            <div style="padding:62.5% 0 0 0;position:relative;"><iframe
                    src="https://player.vimeo.com/video/682929112?h=cbc825b1af&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Week 9"></iframe></div>
            <h1 class="text-xl font-bold py-2">Week 8</h1>
            <ul class="list-inside list-disc">
                <li>Gleam 0.19.0</li>
            </ul>
            <div style="padding:62.5% 0 0 0;position:relative;"><iframe
                    src="https://player.vimeo.com/video/680148812?h=028dfee1d6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Week 8"></iframe></div>
            <h1 class="text-xl font-bold py-2">Week 5</h1>
            <ul class="list-inside list-disc">
                <li>Hole AST node</li>
                <li>Isorecursive types, and Equirecursive types</li>
                <li>The expression problem</li>
                <li>Software 2.0</li>
            </ul>
            <div style="padding:62.5% 0 0 0;position:relative;"><iframe
                    src="https://player.vimeo.com/video/672070060?h=9389df5bb2&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Week 5"></iframe></div>
            <h1 class="text-xl font-bold py-2">Week 4</h1>
            <ul class="list-inside list-disc">
                <li>Cascading delete</li>
                <li>Type providers</li>
            </ul>
            <div style="padding:62.5% 0 0 0;position:relative;"><iframe
                    src="https://player.vimeo.com/video/669544844?h=ca8fd8273f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    style="position:absolute;top:0;left:0;width:100%;height:100%;" title="week 4"></iframe></div>
            <h1 class="text-xl font-bold py-2">Week 2</h1>
            <ul class="list-inside list-disc">
                <li>Continuous testing</li>
                <li>Case clauses</li>
                <li>Typed holes</li>
                <li>Tagged union types</li>
                <li>Expandable unions</li>
            </ul>
            <div style="padding:62.5% 0 0 0;position:relative;"><iframe
                    src="https://player.vimeo.com/video/664395181?h=3757b4eee1&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    style="position:absolute;top:0;left:0;width:100%;height:100%;" title="week 2"></iframe></div>
        </div>
        <div>
            <h1 class="text-xl font-bold py-2">Week 1</h1>
            <ul class="list-inside list-disc">
                <li>Structural Editor</li>
                <li>Type check and execute on key stroke</li>
                <li>Jump to error</li>
            </ul>
            <div style="padding:62.5% 0 0 0;position:relative;"><iframe
                    src="https://player.vimeo.com/video/664401317?h=d1db1efd49&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Week 1"></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </main>
</body>

</html>
