---
layout: default
---

<header>
  <nav style="text-align:right;">
    <a href="/">Home</a>
  </nav>
</header>
<main class="article">
  <img src="{{page.share_image}}" style="max-width: 100%;" alt="{{page.share_alt}}">
  <h1>{{ page.title }}</h1>
  {{ content }}
  <hr style="margin:2em 0 1em 0">
  I'm building EYG an experiment in a building better languages and tools; for some measure of better. <br>
  All progress is reported in my irregular newsletter.
  <div style="margin:1em auto;max-width: 600px;">
    <script async src="https://eocampaign1.com/form/b3a478b8-39e2-11ef-97b9-955caf3f5f36.js" data-form="b3a478b8-39e2-11ef-97b9-955caf3f5f36"></script>
  </div>
</main>