<!DOCTYPE html>
<html>
  <head>
    <title>Mind your own business View Controller</title>
    <meta charset="utf-8">
    <style>
      @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
      @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
      @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

      @import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500');

      body {
        font-family: 'Montserrat';
        font-weight: 400;
      }
      h1 {
        font-weight: 200;
      }
      h2, h3 {
        font-weight: 300;
      }
      h1 {
        border-bottom: #d17d97 3px solid;
      }

      strong {
        font-weight: 500;
        color: #da4a77;
      }

      em {
        color: #999;
      }

      blockquote {
        /*background: #d3e8fb;*/
        background: #F9F9F9;
        margin: 0;
        border: gray 1px solid;
        padding: 20px 40px;
      }

      .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

      img {
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <textarea id="source">

class: middle

# ?VC

## **M**ind your own business

## **V**iew

## **C**ontroller

---
class: middle

## **Hi**

### *name -* Peter Saxton

### *@internets -* CrowdHailer

### *@works -* paywithcurl.com

---
class: middle

![](./explain-mvc-title.png)

---

class: center, middle

![](./explain-mvc-conversation.png)

---

class: center, middle

![](./explain-mvc-diff.png)

---

class: center, middle

![](https://media.giphy.com/media/3o85xwxr06YNoFdSbm/giphy.gif)
---

class: middle

> Phoenix is a web development framework written in Elixir which implements the server-side Model View Controller (MVC) pattern. Many of its components and concepts will seem familiar to those of us with experience in other web frameworks **like Ruby on Rails or Python's Django.**
???

Some what flippant, but also they should stop defining themself by association

---
class: center, middle

![](./getting-started-rails.png)

---
class: center, middle

![](./martin-fowler-mvc.png)

https://martinfowler.com/eaaDev/uiArchs.html

---
class: middle

## A *little* later

> MVC assumes we are manipulating regular **Smalltalk** objects.

---
class: middle

![](facepalms.jpg)

---
class: middle

## What is **Good** software

- Communicates purpose
- Supports evolving requirements
- Can be validated (Predictable/Testable)

---
class: middle

# Strategy > Tactics

*“Strategy without tactics is the slowest route to victory.
Tactics without strategy is the noise before defeat."*

---
class: middle, center

![](./DDD-books.jpg)

---
class: middle

# Domain Driven Design

### Discover design don't choose it.

---
class: middle

## Domain

- A coherent subset of the whole universe.

---
class: middle

## Model

- A useful representation of a domain

---
class: middle

## Ubiquitous language

- Terms used to describe concepts in the domain, and model

  Tube
---
class: middle

## Context

- Understand the limit of the model.

  The concept of a passenger is very different to an aerospace engineer and flight attendant.


---
class: middle

# Tactics

---
class: middle


## **Value object**

- Any object whose identity is characterized by its attributes.

- They should be treated as immutable

---
class: middle

```elixir
address = {"create", "duck", "chip"}
```

![](w3w-london.png)
*https://w3w.co/create.duck.chip*

---
class: middle

## **Entity**

- Concept that is defined by it's identity
- Their state can evolve over time

---
class: middle

```elixir
order = %{
  id: 1,
  status: :dispatched,
  address: {"create", "duck", "chip"}
}
```

![](squashed-parcel.jpg)

---
class: middle

## Use cases

```elixir
MoovIt.cancel_order(order, reason: "Indecisiveness")
```

---
class: middle

## **Ports**

```elixir
defmodule NotificationService do
  @callback alert(User.t(), String.t()) :: {:ok, integer} | {:error, term}
end
```

## and **Adapters**

```elixir
defmodule NotificationService.SMS do
  @behaviour NotificationService

  @impl NotificationService
  def alert(user, message) do
    # Send some SMS's
  end
end
```
---
class: middle

# Putting it all together

---
class: middle

![](hexagonal-architecture.png)

---
class: middle

Read more on

## Hexagonal architecture
## Clean architecture
## Onion architecture


---
class: middle

# DDD lessons

---
class: middle

## All models are **wrong**

> Since all models are wrong the scientist cannot obtain a "correct" one by excessive elaboration. On the contrary following William of Occam he should seek an economical description of natural phenomena. Just as the ability to devise simple but evocative models is the signature of the great scientist so overelaboration and overparameterization is often the mark of mediocrity.

---
class: middle

## Protect the **model**

- Start from lib
- use ports to obscure infrastructure details
- Delay descisions about which exciting NoSQL DB is best

---
class: middle

## Tests are the first infrastructure

By having well defined ports into the domain clear testing points are available.

---
class: middle

## Know your **Limits**

Understand the bounds of your context

---
class: middle

## MVC Frameworks, in **2018**

```
lib/
├── models/
├── views/
├── controllers/
```

**Not** Phoenix


---
class: middle


```eex
<%= form_for @changeset, user_path(@conn, :create), fn f -> %>
  <label>
    Name: <%= text_input f, :name %>
  </label>

  <%= submit "Submit" %>
<% end %>
```

Model !!! it's a form validator and a DB row.


---
class: middle

![](hexagonal-architecture.png)

---
class: middle

## MVC Frameworks, in **2018**

the realization that last years projects were rest endpoints to update database rows.

--

... and the hope that this year will be the same.

--

**it often is**

---
class: middle

<!-- # Mind your own business View Controller -->
# **?VC** Frameworks

So I have previously talked about Raxx as implementing the ?VC architecture


- Respect the Domain model
  Support the integrity of the domain model. don't help no matter how well meaning
  Don't touch the domain model. Not even in a this will help you in the short term kind of way

Let the application call you don't call them, this includes being able to start many services.
This also rules out configuration
Don't tell that application when it is starting



---
Read more about DDD
use MVC where it makes sense
Drop it where it doesn't




    </textarea>
    <script src="https://remarkjs.com/downloads/remark-latest.min.js">
    </script>
    <script>
      var slideshow = remark.create();
    </script>
  </body>
</html>
